# Binary files
gofileshare
*.exe
*.dll
*.so
*.dylib

# Databases
*.db
*.db-shm
*.db-wal
data/

# Storage
FileStore/

# Test files
*.test

# Logs
*.log
app.log

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db

# Go specific
vendor/
